sqlalchemy~=2.0.12
pandas~=2.0.3
pytrends==4.9.2
werkzeug~=2.2.3
pymysql==1.1.0

fastapi~=0.103.1
passlib~=1.7.4
requests~=2.30.0
starlette~=0.27.0
pydantic~=1.10.12
numpy~=1.24.3
plotly~=5.9.0
scipy~=1.10.1
flask~=2.2.2
python-dotenv~=1.0.0
flask_cors~=3.0.10